---
import PostCard from './PostCard.astro';

const { items = [] } = Astro.props;
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
  {items.map((item) => (
    <PostCard
      title={item.title}
      image={item.image}
      description={item.description}
      href={item.href}
    />
  ))}
</div>